---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SEARCH_PAGE_TITLE, SEARCH_PAGE_DESCRIPTION } from "@consts";
import Pagefind from "astro-pagefind/components/Search";
import SearchLayout from "@layouts/SearchLayout.astro";
---

<SearchLayout title={SEARCH_PAGE_TITLE} description={SEARCH_PAGE_DESCRIPTION}>
  <main>
    <section class="container mx-auto px-4 md:px-6">
      <!-- Contenedor principal -->
      <div class="min-h-[500px] flex flex-col items-center justify-center pt-2">
        <!-- Logo -->
        <img 
          src="/img/logos solo de ida/logo blanco1.png" 
          alt="Logo principal" 
          class="mb-6 w-[120px] md:w-[150px]" 
        />
        <!-- Título (opcional) -->
        <h1 class="text-2xl font-semibold mb-4 md:text-3xl">
          Busca lo que necesitas
        </h1>
        <!-- Barra de búsqueda -->
        <div class="w-full max-w-[720px]">
          <Pagefind
            id="search"
            className="pagefind-ui w-full h-full bg-gray-800 text-gray-100"
            uiOptions={{ showImages: true }}
          />
        </div>
      </div>
    </section>
  </main>
  
</SearchLayout>

