---
import Navbar from "./Navbar.astro";
---

<style>
  h2 {
    font-family: Impact, sans-serif;
    font-size: 3rem;
    transition: font-size 0.3s ease; /* Animación de cambio de tamaño */
  }

  .sticky-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegúrate de que el header quede por encima del contenido */
    transition: padding 0.3s ease, height 0.3s ease, opacity 0.3s ease; /* Animación de cambio de tamaño y opacidad */
  }

  .bg-blue-600 {
    background-color: #2563eb; /* Color de fondo */
  }

  .border-b-orange-400 {
    border-color: #fb923c; /* Color del borde */
  }
  /* Establece la opacidad del header al 80% */
  .reduced-opacity {
    opacity: 0.95; /* Cambia la opacidad al 80% */
  }
  /* Establece la opacidad del header al 80% */
  .reduced-opacity:hover {
    opacity: 1; /* Cambia la opacidad al 80% */
  }
        .mi-imagen {
            width: 100px; /* Tamaño para computadoras */
        }

        @media (max-width: 600px) {
            .mi-imagen {
                width: 150px; /* Tamaño para dispositivos móviles */
            }
        }
</style>

<link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4044408479447590"
      crossorigin="anonymous"></script>
      <script>
        // Variables para el scroll anterior y actual
        let lastScrollPos = 0;
      
        window.addEventListener("scroll", function () {
          const header = document.getElementById("main-header");
      
          // Verifica que el header no sea nulo
          if (header) {
            const currentScrollPos = window.scrollY;
      
            // Si el usuario está haciendo scroll hacia arriba (el valor del scroll actual es menor al anterior)
            if (currentScrollPos < lastScrollPos) {
              header.classList.add("sticky-header");
            } else {
              // Si el usuario hace scroll hacia abajo, quitamos la clase sticky
              header.classList.remove("sticky-header");
            }
      
            // Actualizamos la posición anterior del scroll para la próxima comparación
            lastScrollPos = currentScrollPos;
          }
        });
      </script>
</head>

<header id="main-header" class="sticky-header flex-wrap bg-blue-600 text-white">
  <nav class="relative w-full flex-wrap grid basis-full items-center justify-center mx-auto" aria-label="Global">
    <div class="flex grow mx-16 align-center justify-center items-center content-center border-b-4 border-b-orange-400">
      <a class="focus:outline-none focus:opacity-80" href="/" aria-label="Preline" title="Solo de ida">
        <img src="/img/logos solo de ida/logo.png" class="mi-imagen" alt="logo"/>
      </a>
      <a href="/" title="Solo de ida">
        <h2 class="mt-2 mx-4 my-2 align-center justify-center items-center content-center block">SOLO DE IDA</h2>
      </a>
    </div>
  </nav>
  <Navbar />
</header>

<script>
  // Detectar el evento de scroll
  window.addEventListener("scroll", function () {
    const header = document.getElementById("main-header");
    
    // Verifica que el header no sea nulo
    if (header) {
      const scrollPos = window.scrollY;

      // Si el scroll es mayor que 50 píxeles, reducimos el tamaño del header, ocultamos el logo y cambiamos la opacidad
      if (scrollPos > 100) {
        header.classList.add("shrink-header", "hide-logo", "reduced-opacity");
      }
    }
  });
</script>
