---

---

<style>
  h2{
    font-family: Impact, sans-serif;
    font-size: 3rem;
    }
</style>
<link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4044408479447590"
      crossorigin="anonymous"></script>
</head>
<header class="flex-wrap bg-blue-600 text-white">
  <nav class="relative w-full flex flex-wrap grid basis-full items-center justify-center mx-auto" aria-label="Global">
    <div class=" flex grow mx-16 align-center justify-center items-center content-center border-b-4 border-b-orange-400">
        <a class="focus:outline-none focus:opacity-80" href="/" aria-label="Preline">
          <img src="/img/logos solo de ida/logo.png" alt="logo" width="200" height="200"/>  
        </a>
        <a href="/" >
          <h2 class="mt-2 mx-4 my-2 align-center justify-center items-center content-center block">SOLO DE IDA</h2>
        </a>
      </div>

    </nav>
  </header>
  

