---
import Navbar from "./Navbar.astro";
---

<style>
  h2 {
    font-family: Impact, sans-serif;
    font-size: 3rem;
  }
  h2:hover {
    scale: 1.1;
  }

  .mi-imagen {
    width: 125px; /* Size for desktop */
  }

  @media (max-width: 600px) {
    .mi-imagen {
      width: 150px; /* Size for mobile devices */
    }
  }

  /* Sticky Header */
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
  }

  /* Hidden when scrolling down */
  .hidden-header {
    top: -100px; /* Moves the header out of view */
    opacity: 0.6;
  }
  .hidden-header:hover {
    top: -100px; /* Moves the header out of view */
    opacity: 1;
  }
</style>

<link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4044408479447590"
      crossorigin="anonymous"></script>
</head>

<header id="main-header" class="sticky-header flex-wrap bg-blue-600 text-white sticky">
  <nav class="relative w-full flex-wrap grid basis-full items-center justify-center mx-auto" aria-label="Global">
    <div class="flex grow mx-16 align-center justify-center items-center content-center border-b-4 border-b-orange-400">
      <a class="focus:outline-none focus:opacity-80" href="/" aria-label="Preline" title="Solo de ida">
        <img src="/img/logos solo de ida/logo.png" class="mi-imagen" alt="logo"/>
      </a>
      <a href="/" title="Solo de ida">
        <h2 class="mt-2 mx-4 my-2 align-center justify-center items-center content-center block">SOLO DE IDA</h2>
      </a>
    </div>
  </nav>
  <Navbar />
</header>

<script>
  let lastScrollTop = 0;
  const header = document.getElementById("main-header");

  // Asegúrate de que el header no sea null
  if (header) {
    window.addEventListener("scroll", function () {
      let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop) {
        // Scrolling down - hide the header
        header.classList.add("hidden-header");
      } else {
        // Scrolling up - show the header
        header.classList.remove("hidden-header");
      }

      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
    });
  } else {
    console.error("El elemento 'header' no se encontró.");
  }
</script>