---
import Navbar from "./Navbar.astro";
---


<head>
  <link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4044408479447590"
      crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">    
      <link href="/styles/header.css" rel="stylesheet">
</head>

<header id="main-header" class="sticky-header flex-wrap bg-blue-600 text-white sticky">
  <nav class="relative w-full flex-wrap grid basis-full items-center justify-center mx-auto" aria-label="Global">
    <div class="flex grow mx-16 align-center justify-center items-center content-center border-b-4 border-b-orange-400">
      <a class="focus:outline-none focus:opacity-80" href="/" aria-label="Preline" title="Solo de ida">
        <img src="/img/logos solo de ida/logo.png" class="mi-imagen" alt="logo" />
      </a>
      <a href="/" title="Solo de ida">
        <h2 class="h2 mt-2 mx-4 my-2 align-center justify-center items-center content-center block">SOLO DE IDA</h2>
      </a>
    </div> 
  </nav>
  <!-- <Navbar /> -->
</header>

