---
import Navbar from "./Navbar.astro";
---
<style>
  h2 {
    font-family: Impact, "Bebas Neue", sans-serif;
    font-size: 3rem;
  }
  h2:hover {
    scale: 1.1;
  }

  .mi-imagen {
    width: 125px; /* Size for desktop */
  }

  @media (max-width: 600px) {
    .mi-imagen {
      width: 150px; /* Size for mobile devices */
    }
    h2 {
      font-size: 2.7rem;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 800;
      word-spacing: 5px;
      align-content: center;
      align-self: center;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 360px) {
    .mi-imagen {
      width: 100px; /* Size for mobile devices */
    }
    h2 {
      font-size: 1.5rem;
      font-family: "Bebas Neue", sans-serif;
    }
  }

</style>

<link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4044408479447590"
      crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">    
</head>

<header id="main-header" class="sticky-header flex-wrap bg-blue-600 text-white sticky">
  <nav class="relative w-full flex-wrap grid basis-full items-center justify-center mx-auto" aria-label="Global">
    <div class="flex grow mx-16 align-center justify-center items-center content-center border-b-4 border-b-orange-400">
      <a class="focus:outline-none focus:opacity-80" href="/" aria-label="Preline" title="Solo de ida">
        <img src="/img/logos solo de ida/logo.png" class="mi-imagen" alt="logo"/>
      </a>
      <a href="/" title="Solo de ida">
        <h2 class="mt-2 mx-4 my-2 align-center justify-center items-center content-center block">SOLO DE IDA</h2>
      </a>
    </div> 
  </nav>
  <!-- <Navbar /> -->
</header>

