---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
import Link from "@components/Links.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE, HeaderLinks } from "@consts";
import Marquee from "./Marquee.astro";
import PageSearch from "./PageSearch.astro";


---
<style>h5 {
  font-family: Impact,-apple-system, sans-serif;
  letter-spacing: 1.5px;
}
@media (max-width: 600px) {
  h5 {
    font-size: 3.2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    word-spacing: 5px;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 390px) {
  h5 {
    font-size: 2.2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    word-spacing: 5px;
        }
}

.mi-imagen {
  width: 125px; /* Size for desktop */
}

@media (max-width: 600px) {
  .mi-imagen {
    display: inline;
  }
}

.fondo {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='430' preserveAspectRatio='none' viewBox='0 0 1440 430'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1289%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsG1291' transform='translate(0%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1291' transform='translate(450%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1291' transform='translate(900%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1291' transform='translate(1350%2c 0)' fill='%230f457b'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1289'%3e%3crect width='1440' height='430' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1290'%3e%3cpath d='M13.5 3.34c1.02-0.61 1.93 0.92 0.89 1.54l-4.24 2.55L10.14 15.53l-1.57 0.94L6.96 9.39 3.79 11.29l-0.25 2.01L2.3 14.05 1.68 11.55-0.24 9.82l1.24-0.74 1.89 0.71L6.06 7.89 0.56 3.14 2.13 2.2l7.1 3.71L13.5 3.34z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1291'%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(0%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(45%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(90%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(135%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(180%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(225%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(270%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(315%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(360%2c 405)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 45)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 90)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 135)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 180)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 225)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 270)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 315)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 360)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1290' transform='translate(405%2c 405)' fill='%230f457b'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
}</style>

<header id="sticky-header" class="fondo sticky top-0 lg:flex p-2 mx-0 w-full align-center items-center justify-center bg-blue-700 z-50 transition-all duration-300">
  <a href="/">
    <h5 id="scroll-h2" class="h2 nav mb-2 mt-2 hidden text-white text-center align-middle justify-center start-0 text-4xl  px-4 mx-2 pt-1">SOLO DE IDA
      <img class="inline-block ml-2 rounded-full shadow-md shadow-stone-50 " src="/img/logos solo de ida/logo azul1.png" width="75px" height="75px">
    </h5>
  </a>
  <Astronav closeOnClick class="justify-center">
    <div class="flex w-full lg:w-auto align-center justify-center items-center">
      <div class="flex xl:hidden ">
        <MenuIcon class="w-8 h-8 text-neutral-100 mr-64 my-1" />
        <button
          type="button"
          class="mx-auto my-1 text-neutral-100 align-center justify-center items-center gap-x-2 text-lg font-medium disabled:opacity-50 disabled:pointer-events-none"
          onclick="window.location.href='/search/'"
        >
          <Icon name="tabler:search" class="inline icon-base align-center justify-center items-center" />
          BUSCAR
        </button>
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 text-xl">
        {HeaderLinks.map((link) => (
          <Link
            href={link.href}
            class="px-4 py-3 font-medium mx-auto text-white hover:border-b-4 hover:border-y-neutral-200"
          >
            {link.title}
          </Link>
        ))}
      </ul>
      <div class="flex ml-4">
        <button
          type="button"
          class="mx-auto my-1 px-8 text-neutral-100 align-center justify-center items-center gap-x-2 text-lg font-medium transition disabled:opacity-50 disabled:pointer-events-none border-2 rounded-full border-slate-100/20 hover:border-white"
          onclick="window.location.href='/search/'"
        >
          <Icon name="tabler:search" class="inline icon-base align-center justify-center items-center" />
          BUSCAR
        </button>
      </div>
      <!-- <PageSearch /> -->
    </MenuItems>
  </Astronav>
</header>
<!-- <Marquee /> -->



<script>
  // Ejecuta el script cuando el DOM esté listo
  document.addEventListener('DOMContentLoaded', function() {
    // Obtén los elementos del DOM
    const header = document.getElementById('sticky-header');
    const scrollH2 = document.getElementById('scroll-h2');

    // Verifica que los elementos existen antes de manipularlos
    if (header && scrollH2) {
      // Agregar evento de scroll
      window.addEventListener('scroll', function() {
        // Asegurarse de que window.scrollY no sea null o undefined
        const scrollPos = window.scrollY || 0;
        
        if (scrollPos > 50) {
          // Mostrar el h2 cuando el scroll supere los 50px
          scrollH2.classList.remove('hidden');
          scrollH2.classList.add('block');
        } else {
          // Ocultar el h2 cuando se vuelve al principio
          scrollH2.classList.remove('block');
          scrollH2.classList.add('hidden');
        }
      });
    } else {
      console.error('Elementos no encontrados: #sticky-header o #scroll-h2');
    }
  });
</script>

<style is:global>
  :root {
    --color-primary: #ffa024;
    --color-primary-foreground: #070735;
  }
</style>