
<div class="mx-auto justify-center align-middle flex bg-sky-800 p-4 rounded">
    <iframe src="https://solodeida.substack.com/embed" width="480" height="320" style="color: black;" frameborder="0" scrolling="no"></iframe>
</div>