---

---

<div class="align-center items-center justify-center text-cente flex border-b-2 hover:border-2 rounded-sm transition-all" >
    <a href="https://solodeida.substack.com/embed"  target="_blank">
        <input 
            type="email" 
            name="email" 
            placeholder="Ingresa tu correo" 
            class="rounded px-4 py-2 text-black" 
            required>
        <button 
            type="submit" 
            class="bg-orange-400 text-white px-4 py-2 rounded-full">
            Suscribirme
        </button>
    </a>
</div>