<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="matgal21/astroverse-2"
        data-repo-id="R_kgDOMB51sA"
        data-category="Announcements"
        data-category-id="DIC_kwDOMB51sM4CiADQ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="es"
        crossorigin="anonymous"
        async>
</script>