---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="icon" type="image" href="https://images.unsplash.com/photo-1720474846612-9e880be4872d?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />

    <!-- Google tag (gtag.js) -->

  </head>
  <body
    class=""
  >
    <Header />
    <div class="mx-auto flex mt-8 min-h-screen max-w-6xl flex-col px-4 dark:prose-invert sm:px-6 lg:px-8 dark:bg-neutral-900">
      <slot />
    </div>
    <Footer />
  </body>
</html>

