---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import { GoogleAnalytics } from '@next/third-parties/google'


const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <meta name="keywords" content="Blog, Viajes, Turismo, Blog de viajes, Blogger, Solo de ida">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z70LX1R9TK"></script>
    <GoogleAnalytics gaId="G-Z7OLX1R9TK" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z70LX1R9TK">

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z70LX1R9TK');
</script>
</head>
  </head>
  <body
    class="mx-auto w-full "
    >
    <Header />
    <Navbar />
    <div class="mx-auto  w-full flex mt-8 min-h-screen max-w-6xl flex-col px-4 dark:prose-invert sm:px-6 lg:px-8 dark:bg-neutral-900">
      <slot />
    </div>
    <Footer />
  </body>
</html>
